////////////////////////////////////
// !THEME / COMPONENTS / HEADER LOGO
////////////////////////////////////

.shdpx {
  .dcf-header-global {
    .logo-mobile {
      display: block;
    }

    .logo-mobile img {
      display: block;
    }

    .logo-desktop {
      display: none;
    }
  }
}

@include mq(731px, min, width) {
  .shdpx {
    .dcf-header-global {
      .logo-mobile {
        display: none;
      }

      .logo-desktop {
        display: inline-block;
        width: 300px;
        float: left;
      }

      @supports (grid-area: auto) {
        .logo-desktop {
          width: fit-content !important;
          height: 95%;
          align-self: end;
        }

        .logo-desktop img {
          height: 100%;
        }
      }
    }
  }
}

@include mq(1126, min, width) {
  .shdpx {
    .dcf-header-global {
      .logo-desktop {
        height: auto;
        align-self: start;
        width: 310px;
      }

      .logo-desktop img {
        height: 4em;
      }
    }
  }
}
